html {
    height: 100%;
    min-height: 100%;
  }

@font-face {
    font-family: fonte-principal;
    src: url(fonts/Squartiqa4FStrike.ttf);
}

@font-face {
    font-family: fonte-secundaria;
    src: url(fonts/OpenSans-VariableFont_wdth,wght.ttf);
}


body {
    background-image: url(images/background2.png);
    padding: 0 10%;
    display: grid;
    grid-area: coluna;
    justify-content: center;
    background-size: cover;
}


.pagina {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.pagina2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -5%;
    margin-left: 7%;
    width: 100%;
    height: 100vh;
}

.pagina3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -3%;
    margin-left: -15%;
    width: 130%;
    height: 130vh;
}

.home, .pagina {
    width: 100%;
    height: 100vh;
}

p {
    color: white;
}

.iframevideo {
    margin: 5%;
    margin-top: -5%;
    height: 100%;
  }

button {
    margin-left: 10%;
    background-color: rgb(50, 64, 71);
    border-color: rgb(253, 236, 11);
    border-width: 3px;
    font-family: fonte-principal;
    line-height: 1.3em;
    color: white;
}

.link {
    cursor: pointer;
}

.home,
.direita {
    display: flex;
    flex-direction: row;
}

.home {
    justify-content: center;
}

#bem-vindo {
        direction:ltr;
        font-family: 'fonte-principal', monospace;
        margin-left:0em;
        line-height:0.86390503em;
        text-transform:none;
        letter-spacing:-0.05em;
}

#descricao {
    font-family: 'fonte-secundaria', monospace;
    line-height: 1.26087505em;
    text-align: justify;
    font-weight: 500;
    letter-spacing: -0.05em;
    text-shadow: 0.04408389em 0.06067627em 0.0125em rgba(0, 0, 0, 0.300000);
}

.video,
.media-links {
    margin: 5%;
    margin-left: -15%;
    margin-right: 27%;
}

#descricao {
    width: 90%;
    align-items: center;
}

.social-links {
    margin-left: 18%;
    display: flex;
    img {
        width: 10%;
        height: 80%;
        margin-right: 5%;
    }
}

.media-links {
    display: flex;
    flex-direction: column;
    img {
        padding-bottom: 100%;
    }
}

.uma-div {
    display: 100%;
    flex-direction: column;
    align-items: center;
    #logo-conexao-total {
        width: 62%;
        margin-left: 13%;
       }
}




