body {
    background-image: url(images/background.png);
    background-size: cover;
}

@font-face {
    font-family: fonte-titulos;
    src: url(fonts/Squartiqa4FStrike.ttf);
}

@font-face {
    font-family: fonte-economica;
    src: url(fonts/Economica-Regular.ttf);
}

@font-face {
    font-family: fonte-geral;
    src: url(fonts/OpenSans-VariableFont_wdth,wght.ttf);
}

p {
    color: white;
}

.link {
    cursor: pointer;
}

button {
    background-color: rgb(50, 64, 71);
    border-color: rgb(253, 236, 11);
    font-family: fonte-principal;
    color: white;
}

#bem-vindo,
button {
    font-family: fonte-titulos;
}

#descricao,
#chamada {
    font-family: fonte-geral;
    line-height: 1.26em;
    text-align: justify;
    font-weight: normal;
    letter-spacing: -0.05em;
    text-shadow: 0.044em 0.06em 0.0125em rgba(0, 0, 0, 0.300000);
}

@media (orientation: portrait) {

    .home {
        margin: 10%;
        width: fit-content;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #logo-conexao-total {
        width: 70%;
    }

    .logo {
        padding: 5% 0% 5% 0%;
        position: relative;
    }

    #descricao {
        padding-bottom: 5%;
    }

    .musica-inicio {
        display: flex;
        flex-direction: column;
        padding: 6% 0% 0% 70%;
        width: 8%;
        position: absolute;
        z-index: 0;

    }

    .image {
        margin-bottom: 60%;
    }

}